# Ignore any .DS_Store file
.DS_Store

# Ignore "data/" directories at root and recursively
/data/
/**/data/
/output/
/**output/
/output_feast/
/**output_feast/

# Ignore any temp files
.ipynb_checkpoints/
__pycache__/
*.pyc

# Ignore private files
.env
.cursor*
/planning/


# Ignore google auth files
secrets/
token.json
credentials.json


